<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portland University</title>
    <style src="project.css"></style>
</head>

<body>

    {{{body}}}

</body>

</html>