<h1>PORTLAND UNIVERSITY - CLASSES</h1>

<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/students">Students</a></li>
    <li><a href="/professors">Professors</a></li>
    <li><a href="/majors">Majors</a></li>
    <li><a href="/enrollments">Enrollments</a></li>
</ul>