<h1>CLASSES</h1>

<form id="Add">
    <fieldset>
        <legend>Add Class</legend>

        <div>
            <label for="addCname">Name: </label>
            <input type="text" name="addCname" id="addCname">
        </div>
        <br>
        <div>
            <label for="addCap">Capacity: </label>
            <input type="text" name="addCap" id="addCap">
        </div>
        <br>

        <div>
            <label for="majorid">Major: </label>
            <input type="text" name="majorid" id="majorid">
        </div>
        <br>
        <div>
            <label for="pfname">Professor First Name: </label>
            <input type="text" name="majorid" id="majorid">
        </div>
        <br>
        <div>
            <label for="plname">Professor Last Name: </label>
            <input type="text" name="majorid" id="majorid">
        </div>
        <br>
        <div>
            <input type="submit" id="addClass">
        </div>
    </fieldset>
</form>


<form id='Search'>
    <fieldset>
        <legend>Search Classes</legend>
        <div>
            <label for="sCid"> By Class Name: </label>
            <input type="text" name="sCid" id="sCid" value="AUTO-POPULATE">
            <input type="submit" id='searchClass'>
        </div>
        <br>

    </fieldset>
</form>

<table id="searchResults">
    <tr>
        <th>Class ID</th>
        <th>Name</th>
        <th>Capacity</th>
        <th>Major</th>
        <th>Professor</th>
    </tr>

    <tr>
        <td><input type="text" value="314"></td>
        <td><input type="text" value="Intro to Thermodynamics"></td>
        <td><input type="text" value="100"></td>
        <td><input type="text" value="1234"></td>
        <td><input type="text" value="Einstein"></td>

    </tr>

</table>