<h1>PORTLAND UNIVERSITY</h1>
<ul>
    <li><a href="/classes">Classes</a></li>
    <li><a href="/students">Students</a></li>
    <li><a href="/professors">Professors</a></li>
    <li><a href="/majors">Majors</a></li>
    <li><a href="/enrollments">Enrollments</a></li>
</ul>