<h1>PORTLAND UNIVERSITY - MAJORS</h1>

<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/classes">Classes</a></li>
    <li><a href="/students">Students</a></li>
    <li><a href="/professors">Professors</a></li>
    <li><a href="/enrollments">Enrollments</a></li>
</ul>