<div class="container">
    <div class="row">
        <form class="col-md-5" id="Add" action="/majors" method="post">
            <fieldset>
                <legend>Add New Major</legend>
                 
                 <div class="form-group">
                    <label for="MajID">Major ID: </label>
                    <input class="form-control" type="text" name="MajID" id="MajID">
                </div>

                <div class="form-group">
                    <label for="Mname">Major Name: </label>
                    <input class="form-control" type="text" name="Mname" id="Mname">
                </div>
                
                <div class="form-group">
                    <label for="addCollege">College: </label>
                    <input class="form-control" type="text" name="addCollege" id="addCollege">
                </div>

                <div class="form-group">
                    <label for="undergrad">Undergraduate: </label>
                    <input class="form-control" type="text" name="undergrad" id="undergrad" placeholder="Yes/No">
                </div>
                <br>
                <div class="form-group">
                    <input class="btn btn-dark" type="submit" value="Add" id="addSub">
                </div>
            </fieldset>
        </form>

        <div class="col-md-2"></div>

        <form class="col-md-5" id='Search'>
            <fieldset>
                <legend>Search Majors</legend>
                <div class="form-group">
                    <label for="sCname">By College Name: </label>
                    <input class="form-control" type="text" name="sCname" id="sCname">
                    <br>
                    <input class = "btn btn-dark" value="Search" type="button" onclick="searchMajorByCollege()"
                </div>
                <br>
                <div class="form-group">
                    <input class="btn btn-dark" type="button" value="Search" id='searchMajor' onclick="getMajorByCollege()">
                </div>
                <br>
                <div class="form-group">
                    <input class="btn btn-dark" type="button" value="All Majors" id='getAll'
                        onclick="window.location.href='/majors'">
                </div>
            </fieldset>
        </form>
    </div>
</div>

<table class="table table-striped mt-5" id="searchResults">
    <thead>
        <tr class="table-dark">
            <th scope="col">Major ID</th>
            <th scope="col">Major Name</th>
            <th scope="col">College Name</th>
            <th scope="col">Undergraduate</th>
        </tr>
    </thead>

    <tbody>
        {{#each stud}}
        <tr>
            <th scope="row">{{major_id}}</th>
            <td>{{name}}</td>
            <td>{{college}}</td>
            <td>{{Undergraduate}}</td>
        </tr>
        {{/each}}
    </tbody>

</table>